*{
    font-family: 'Roboto', sans-serif;

}
.a {
    background-color: #17a2b8;
    width: 904px;
    height: 150px;
    margin: 0 auto;
}
.b{background-color: #ffffff;
    width: 900px;
    height: 400px;
    border: 4px #d2d2d2 solid;
    border-top: #ffffff;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.c{
    width: 150px;
    height: 150px;
    position: relative;
    top: -80px;
    left: 30px;
    border: 6px  #d2d2d2 solid;
    border-radius: 100%;
}
#d{
    width: 20px;
    height: 20px;
}
h1{
    position: relative;
    top: -80px;
    left: 30px;
}
p{
    position: relative;
    top: -80px;
    left: 30px;
}
span{
    font-size: larger;
    font-weight: 600;
}
p{
    font-size: larger;
    font-weight: 600;
}
.w{
    width: 20px;
    height: 20px;
}


