.x{
    display: block;
    height: 100px;
    width: 300px;
    color: aqua;
    border-radius: 50px ;
    border-color: aqua;
    background-color: antiquewhite;
    margin: 20px;
    font-size: x-large;
    font-weight: bold;
}
.y{
    display: block;
    border-radius: 50px;
    background-color: aqua;
    color: white;
    border-color: aqua;
    margin: 20ox;
    width: 50px;
    height: 50px;
}   
.z{
    display: block;
    color: white;
    background-color: blue;
    box-shadow: 6px 4px 3px black;
    margin: 20px;
    width: 300px;
    height: 100px;
    font-size: xx-large ;

}




