h1{
    background-color: black;
    color:white;
    font-weight: bold;
    font-family: monospace;
}
h1 span{
    color: aqua;
}
h2{
    text-align: center;
    background-color: blueviolet;
    font-style: italic;
    color: white;
    font-weight: lighter;
}
h3{
    background-color: aquamarine;
    text-decoration: underline;
    text-align: right;
    font-family: monospace;
}