*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.container{
    margin: 0 auto;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.nav{
    width: 100%;
    background-color: #cccccc ;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
}
#c{
    width: 350px;
    height: 25px;
    border: 2px black solid;
}
.b{
    background-color: #2b78e4;
    width: 55px;
    color: white;
    border: 3px black solid;
    box-shadow: 2px 3px 3px black;
}
.ninja{
    width: 60%;
    height: 200px;
    border: 3px black solid;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 20px;
    flex-wrap: wrap;
}
.d{
    width: 80px;
    height: 30px;
    background-color: #ffd966;
    border:2px black solid;
    box-shadow: 2px 3px 3px black;
    font-weight: 800;
}
.n{
    height: 200px;
    margin-top: 80px;
}
.f{
    font-weight: bold;
}
.definition{
    width: 34.3%;
    height: 150px;
    border: 3px black solid;
    padding-top: 10px;
}
h3{
    text-align: center;
}
.x{
    width: 250px;
    height: 40px;
    position: relative;
    top: 40px;
    left: 30px;
    font-weight:bold ;
    font-size: large;
    background-color: #93c47d;
    box-shadow: 2px 3px 3px black;
}