*{
    font-family: 'Roboto', sans-serif;
}
div{
    background-color: dimgray;
    color: white;
    display: flex;
    justify-content: space-between;
}
.nav-links{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around; 
    list-style-type: none;
}

a{
    color: white;
    text-decoration: none;
}
.nav-links{
    font-weight: bold  ;
}
h1{
    margin-left: 10px;
}
.btn{
    border: none;
    background-color: aqua;
    color: white;
    height: 25px;
    width: 100px;
    box-shadow: 6px 6px 5px black;
}